@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Rubik+Mono+One&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}
:root
{
    --clr: #0f0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: #000;
}
.container
{
    position: relative;
    top: 100px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateColor 5s linear infinite;
}
@keyframes animateColor 
{
    0%
    {
        filter: hue-rotate(0deg);
    }    
    100%
    {
        filter: hue-rotate(360deg);
    } 
}
.container .cloud
{
    position: relative;
    width: 400PX;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    filter: drop-shadow(0 0 15px var(--clr));
}
.container .cloud h2
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #000;
    font-size: 3em;
    z-index: 1000;
    font-weight: 400;
    padding: 0 10px;
    background: var(--clr);
    border-radius: 10px;

}
.container .cloud h2::before
{
    content: '';
    position: absolute;
    top: -115px;
    left: 6.5%;
    transform: translateX(-50px);
    border-radius: 100px;
    width: 120%;
    height: 100px;
    background: var(--clr);
}
.container .cloud h2::after
{
    content: '';
    position: absolute;
    top: -150px;
    left: 8%;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background: var(--clr);
}
.CLOUDS
{
    content: '';
    position: absolute;
    top: -70px;
    left: 41%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: var(--clr);
}
.text
{
    position: absolute;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--clr);
    text-shadow: 0 0 5px var(--clr),
    0 0 15px var(--clr),
    0 0 35px var(--clr);
    transform-origin: bottom;
    animation: animate 2s linear forwards;
}
@keyframes animate 
{
    0%
    {
        transform: translateY(0) scale(1);
    }    
    70%
    {
        transform: translateY(300px) scale(1);
    }  
    100%
    {
        transform: translateY(300px) scale(1);
    }  
}